* { padding:0px; margin:0px; }
article { display:none; }
body { font-family: 'Titillium Web', sans-serif; background-color:white; background-size:6px 6px; background-position: 0 0, 3px 3px; background-image: linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black), linear-gradient(45deg, black 25%, transparent 25%, transparent 75%, black 75%, black); }

h1 { font-size:30pt; line-height: 1.2em; margin-bottom:20px; }
h2 { font-size:20pt; line-height: 1.2em; margin:30px 0px 20px 0px; }
p { font-size:14pt; margin-bottom:15px; }
li { margin-bottom:10px; line-height:32px; list-style-type:none; font-size:14pt; }
ul { padding-left:20px; }
a { color:black; text-decoration:underline; }
a:hover, a:active { text-decoration:underline; }

.tlink { border:3px solid black; padding:0px 8px 0px 8px; text-decoration:none; border-radius:4px; font-weight:bold; font-size:12pt; }
.tlink:hover, .tlink:active { text-decoration:none; }
.tlink .fa { font-size:10pt; margin:0px 7px -2px 0px; position:relative; top:-1px; }

div.display { background:white; border:3px solid black; }
div.display .display-title { font-weight:bold; font-size:12pt; color:white; background:black; text-align:left; padding:1px 0px 1px 5px; }
div.display .display-body { padding:30px; }
.display.visible { display:block; }
.display.hidden { display:none; }

#splash { width:50vw; position:absolute; left:25vw; top:20px; }
#image { width:80vw; position:absolute; left:10vw; top:20px;  }
#image .display-body { text-align:center;}
#image img { border:4px solid black; max-width:100%;}
#image blockquote { display:inline-block; }
#left { width:40vw; margin:20px 0px 0px 5vw; }
#big { width:90vw; margin:20px 5vw 0px 5vw; }

.welcome blockquote p { margin:-10px 0px 30px 0px; } 
.welcome img { border:3px solid black; float:right; max-width:300px; margin:0px 20px 20px 20px;}
.systems img { border:3px solid black; float:right; max-width:300px; margin:0px 20px 20px 20px;}

.matrix .table-wrapper { overflow-x:scroll; border:3px solid black; }
.matrix table { table-layout: fixed; border-collapse: collapse; }
.matrix th, td { border-top:1px solid black; border-left:1px solid black; padding:0px; margin:0px; text-align:left; vertical-align:top; }
.matrix th { padding:0px 3px 0px 3px; }
.matrix td { min-width:200px; }
.matrix table div.transclusion { border-style:none; }
.matrix table div.transclusion .title { padding:4px; font-size:8pt;}
.matrix table div.transclusion .fa-arrow-right { display:none; }
.matrix table div.transclusion .body { padding:2px; }
.matrix table div.transclusion .body p { font-size:12pt; margin-bottom:0px; }

div.transclusion { border:3px solid black; }
div.transclusion .title { font-size:12pt; background:black; font-weight:bold; padding:1px 2px 3px 5px; }
div.transclusion .title a { color:white; text-decoration:none; }
div.transclusion .title .fa { font-size:10pt; margin:0px 8px 0px 2px; }
div.transclusion .body { padding:10px; }
